#!/usr/bin/env python3
# -*- coding: utf-8 -*-

from genmenu.genmenu import GenMenu

my_lunch_menu = [
    'Lunch 1',
    'Lunch 2',
    'Lunch 3',
    'Lunch 4',
    'Lunch 5',
]

my_dinner_menu = [
    'Dinner 1',
    'Dinner 2',
    'Dinner 3',
    'Dinner 4',
    'Dinner 5',
]

menu = GenMenu()
menu.insert_lunch_menu(my_lunch_menu)
menu.insert_dinner_menu(my_dinner_menu)
menu.generate_menu()

for day in menu.week_days:
    print('%s' % day)
    menu_for_day = menu.my_menu[day]
    print('Lunch: %s' % menu_for_day.get('lunch'))
    print('Dinner: %s\n' % menu_for_day.get('dinner'))
